@model HMS.Models.PatientAppointmentViewModel.PatientAppointmentCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="ItemTranTable">
            <tr><th>Id</th><td>@Model.Id</td></tr>
            <tr><th>Visit Id</th><td>@Model.VisitId</td></tr>
            <tr><th>Patient Name</th><td>@Model.PatientName</td></tr>
            <tr><th>Doctor Name</th><td>@Model.DoctorName</td></tr>
            <tr><th>Serial No</th><td>@Model.SerialNo</td></tr>
            <tr><th>Appointment Date</th><td>@Model.AppointmentDate</td></tr>
            <tr><th>Appointment Time</th><td>@Model.AppointmentTime</td></tr>
            <tr><th>Note</th><td>@Model.Note</td></tr>
            <tr><th>Created Date</th><td>@Model.CreatedDate</td></tr>
            <tr><th>Modified Date</th><td>@Model.ModifiedDate</td></tr>
            <tr><th>Created By</th><td>@Model.CreatedBy</td></tr>
            <tr><th>Modified By</th><td>@Model.ModifiedBy</td></tr>
        </table>
    </div>
</div>
