@model HMS.Models.DashboardViewModel.DashboardDataViewModel

<hr />

<div class="panel panel-hash">
    <div class="panel-heading"><h4><b>Recent Checkup</b></h4></div>
    <div class="panel-body scroll panel-height">
        <table class="BlueGreen">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Patient Name</th>
                    <th>Doctor Name</th>
                    <th>Symptoms</th>
                    <th>Diagnosis</th>
                    <th>Advice</th>
                    <th>Checkup Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.listCheckupSummaryCRUDViewModel)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>
                                <a href='#' class='btn btn-link btn-xs' onclick=Details('@item.Id')>@item.PatientName</a>
                            </td>
                            <td>@item.DoctorName</td>
                            <td>@item.Symptoms</td>
                            <td>@item.Diagnosis</td>
                            <td>@item.Advice</td>
                            <td>@item.CheckupDate.ToString("dd MMMM yyyy")</td>
                            <td>
                                <a href='#' class='btn btn-link btn-xs' onclick=PrintCheckup('@item.Id')><span class="fa fa-print">Print</span></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <br /><br />
    </div>
</div>

<script src="~/js/CheckupSummary/CheckupSummary_CRUD.js"></script>

