@model HMS.Models.CheckupMedicineDetailsViewModel.CheckupMedicineDetailsCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="ItemTranTable">
            <tr><th>Id</th><td>@Model.Id</td></tr>
            <tr><th>Visit Id</th><td>@Model.VisitId</td></tr>
            <tr><th>MedicineId</th><td>@Model.MedicineId</td></tr>
            <tr><th>No of Days</th><td>@Model.NoofDays</td></tr>
            <tr><th>WhentoTake</th><td>@Model.WhentoTake</td></tr>
            <tr><th>IsBefore Meal</th><td>@Model.IsBeforeMeal</td></tr>
            <tr><th>Created Date</th><td>@Model.CreatedDate</td></tr>
            <tr><th>Modified Date</th><td>@Model.ModifiedDate</td></tr>
            <tr><th>Created By</th><td>@Model.CreatedBy</td></tr>
            <tr><th>Modified By</th><td>@Model.ModifiedBy</td></tr>
        </table>
    </div>
</div>
