@model HMS.Models.CheckupSummaryViewModel.ManageCheckupHistoryViewModel

@{ foreach (var item in Model.listCheckupSummaryCRUDViewModel)
                {
    <br />
                    <h4><i class="nav-icon fas fa-hospital-user"></i> Patient Type: @item.PatientType</h4>
                                    <h4><i class="nav-icon fas fa-walking"></i> Visit Id: @item.VisitId</h4>
                                                    <h4><i class="nav-icon fas fa-stethoscope"></i> Checkup Date: @item.CheckupDate</h4>
                                                                    <hr />
                                                                                    <sapn>Checkup Summary</sapn>
                                                                                                    <hr />
                                                                                                                    <table class="ItemTranTable">
                                                                                                                        <tr>
                                                                                                                            <th>Id</th>
                                                                                                                            <td style="width:70%;">@item.Id</td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <th>Doctor Name</th>
                                                                                                                            <td>@item.DoctorName</td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <th>Symptoms</th>
                                                                                                                            <td>@item.Symptoms</td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <th>Diagnosis</th>
                                                                                                                            <td>@item.Diagnosis</td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <th>Vital Signs</th>
                                                                                                                            <td>@item.VitalSigns</td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <th>HPI</th>
                                                                                                                            <td>@item.HPI</td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <th>Physical Examination</th>
                                                                                                                            <td>@item.PhysicalExamination</td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <th>Advice</th>
                                                                                                                            <td>@item.Advice</td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <th>Comments</th>
                                                                                                                            <td>@item.Comments</td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <th>Next Visit Date</th>
                                                                                                                            <td>@item.NextVisitDate</td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <th>Advice</th>
                                                                                                                            <td>@item.Advice</td>
                                                                                                                        </tr>
                                                                                                                    </table>
                                                                                                                                    <br />
                                                                                                                                                    <sapn>Checkup Medicine Details</sapn>
                                                                                                                                                                    <hr />
                                                                                                                                                                                    <div class="row" style="width:100%; margin:0 auto;">
                                                                                                                                                                                        <table class="CustomBlueTable" border="1">
                                                                                                                                                                                            <thead>
                                                                                                                                                                                                <tr>
                                                                                                                                                                                                    <th>ID</th>
                                                                                                                                                                                                    <th>Medicine Name</th>
                                                                                                                                                                                                    <th>No of Days</th>
                                                                                                                                                                                                    <th>When to Take</th>
                                                                                                                                                                                                    <th>Is Before Meal</th>
                                                                                                                                                                                                </tr>
                                                                                                                                                                                            </thead>
                                                                                                                                                                                            @foreach (var item2 in Model.listCheckupMedicineDetailsCRUDViewModel.Where(x => x.VisitId == item.VisitId))

                                                                                                                                                                                            {
                                                                                                                                                                            <tbody>

                                                                                                                                                                                <tr>
                                                                                                                                                                                    <td>
                                                                                                                                                                                        @Html.DisplayFor(modelItem => item2.Id)
                                                                                                                                                                                    </td>
                                                                                                                                                                                    <td>
                                                                                                                                                                                        @Html.DisplayFor(modelItem => item2.MedicineName)
                                                                                                                                                                                    </td>
                                                                                                                                                                                    <td>
                                                                                                                                                                                        @Html.DisplayFor(modelItem => item2.NoofDays)
                                                                                                                                                                                    </td>
                                                                                                                                                                                    <td>
                                                                                                                                                                                        @Html.DisplayFor(modelItem => item2.WhentoTake)
                                                                                                                                                                                    </td>
                                                                                                                                                                                    <td>
                                                                                                                                                                                        @if (item2.IsBeforeMeal)
                                                                                                                                                                                        {
                                                                                                                                                                    <span>Yes</span> }
                                                                                                                                                                                        else
                                                                                                                                                                                        {
                                                                                                                                                                    <span>No</span>}
                                                                                                                                                                                    </td>
                                                                                                                                                                                </tr>

                                                                                                                                                                            </tbody>                }
                                                                                                                                                                                        </table>
                                                                                                                                                                                    </div> } }