@model HMS.Models.MedicineHistoryViewModel.MedicineHistoryCRUDViewModel

<div class="row">
    <div class="col-md-12">
        <table class="ItemTranTable">
            <tr><th>Id</th><td>@Model.Id</td></tr>
            <tr><th>Medicine Id</th><td>@Model.MedicineId</td></tr>
            <tr><th>Code</th><td>@Model.Code</td></tr>
            <tr><th>Medicine Name</th><td>@Model.MedicineName</td></tr>
            <tr><th>Manufacture Name</th><td>@Model.ManufactureName</td></tr>
            <tr><th>Unit</th><td>@Model.UnitName</td></tr>
            <tr><th>Unit Price</th><td>@Model.UnitPrice</td></tr>
            <tr><th>Sell Price</th><td>@Model.SellPrice</td></tr>
            <tr><th>Old Unit Price</th><td>@Model.OldUnitPrice</td></tr>
            <tr><th>Old Sell Price</th><td>@Model.OldSellPrice</td></tr>
            <tr><th>Old Quantity</th><td>@Model.OldQuantity</td></tr>
            <tr><th>New Quantity</th><td>@Model.NewQuantity</td></tr>
            <tr><th>Tran Quantity</th><td>@Model.TranQuantity</td></tr>
            <tr><th>Update Qnt Type</th><td>@Model.UpdateQntType</td></tr>
            <tr><th>Update Qnt Note</th><td>@Model.UpdateQntNote</td></tr>
            <tr><th>Note</th><td>@Model.Note</td></tr>
            <tr><th>Action</th><td>@Model.Action</td></tr>
            <tr><th>Created Date</th><td>@Model.CreatedDate</td></tr>
            <tr><th>Modified Date</th><td>@Model.ModifiedDate</td></tr>
            <tr><th>Created By</th><td>@Model.CreatedBy</td></tr>
            <tr><th>Modified By</th><td>@Model.ModifiedBy</td></tr>
        </table>
    </div>
</div>
